@using PubSub;
@using PushNotificationAgent.Client.Infrastructure;

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    [JSInvokable]
    public static async Task OnPush(string json)
    {
        await Hub.Default.PublishAsync(new PushReceived { Data = json });
    }

    [JSInvokable]
    public static async Task OnBlur()
    {
        await Hub.Default.PublishAsync(new FocusLost());
    }

    [JSInvokable]
    public static async Task OnFocus()
    {
        await Hub.Default.PublishAsync(new FocusReceived());
    }
}